.error-page {
  padding: 150px 0 180px;
  &__status {
    color: $color--blue;
    padding-bottom: 100px;
    @include mobile {
      width: 100%!important;
      height: 60px;
      position: relative;
      z-index: 0;
    }
  }
}